@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
	margin:0;
	font-family: 'Nanum Gothic', serif;
	/*font-family: 'Jeju Gothic', serif;*/
	color:#666;
	background-color:#e9eaed;
}

.nav {
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
}

.nav_left {
	float:left;
	padding-left:20px;
}

.nav_left.no_padding {
	padding:0;
}

.nav_right {
	float:right;
	padding-right:20px;
}

.nav_right.no_padding {
	padding:0;
}

.nav_1 {
	height:80px;
	background-color:#CE483D;
}

.nav_1_padding {
	width:80%;
	margin:0 auto;
	height:60px;
	padding-top:10px;
}

.nav_1_logo_area {
	clear:both;
	width:220px;
	height:60px;
	/*border:1px solid #ffffff;*/
}

.nav_1_logo {
	height:30px;
	margin-top:15px;
	font-family: 'Jeju Gothic', serif;
	color:#ffffff;
	line-height:30px;
	font-size:30px;
	font-weight:bold;
}

.nav_1_write_area {
	clear:both;
	width:30px;
	height:60px;
	/*border:1px solid #ffffff;*/
}

.nav_1_search_btn_area {
	clear:both;
	width:30px;
	height:60px;
	padding-right:200px;
	/*border:1px solid #ffffff;*/
}

.nav_1_write {
	position:relative;
	border:none;
	/*border:1px solid #5C5E5C;*/
	padding:10px 10px 10px 10px;
	background:#CE483D;
	background-image:url("../../static/img/write.png");
	background-size:30px 30px;
	background-position:0 -2px;
	background-repeat:no-repeat;
	height:30px;
	width:100%;
	margin-top:15px;
	color:#ffffff;
}

.nav_1_search_btn {
	position:relative;
	border:none;
	/*border:1px solid #5C5E5C;*/
	padding:10px 10px 10px 10px;
	background:#CE483D;
	background-image:url("../../static/img/search_btn.png");
	background-size:30px 30px;
	background-position:100% 50%;
	background-repeat:no-repeat;
	height:30px;
	width:30px;
	margin-top:15px;
	color:#ffffff;
}

.nav_1_logout_area {
	clear:both;
	width:30px;
	height:60px;
	/*border:1px solid #ffffff;*/
}

.nav_1_logout {
	position:relative;
	border:none;
	/*border:1px solid #5C5E5C;*/
	padding:10px 10px 10px 10px;
	background:#CE483D;
	background-image:url("../../static/img/power2.png");
	background-size:25px 25px;
	background-position:100% 50%;
	background-repeat:no-repeat;
	height:30px;
	width:100%;
	margin-top:15px;
	color:#ffffff;
}

.nav_1_search_input_area {
	clear:both;
	width:500px;
	height:60px;
	/*padding-right:200px;*/
	/*border:1px solid #ffffff;*/
}

.nav_1_search_input {
	position:relative;
	border-radius:5px;
	padding:10px 10px 10px 10px;
	background:#ffffff;
	height:30px;
	width:100%;
	margin-top:15px;
}

.nav_1_setting_area {
	clear:both;
	width:30px;
	height:60px;
	/*border:1px solid #ffffff;*/
}

.nav_1_setting {
	position:relative;
	border:none;
	/*border:1px solid #5C5E5C;*/
	padding:10px 10px 10px 10px;
	background:#CE483D;
	background-image:url("../../static/img/gear.png");
	background-size:30px 30px;
	background-position:100% 100%;
	height:30px;
	width:100%;
	margin-top:15px;
	color:#ffffff;
}

.nav_1_cart_area {
	clear:both;
	width:30px;
	height:60px;
	/*border:1px solid #ffffff;*/
}

.nav_1_cart {
	position:relative;
	border:none;
	/*border:1px solid #5C5E5C;*/
	padding:10px 10px 10px 10px;
	background:#CE483D;
	background-image:url("../../static/img/cart.png");
	background-size:30px 30px;
	background-position:0 -3px;
	height:30px;
	width:100%;
	margin-top:15px;
	color:#ffffff;
}

.nav_2 {
	height:30px;
	background-color:#ffffff;
	/*border-bottom:1px solid #c3c3c3;*/
	box-shadow:0 1px 0 #E9E9E9;
	blur:2px;
	spread:2px;
	font-size:13px;
	line-height:22px;
	font-weight:bold;
}

.on {
	color:#FEC73C;
}

.nav_2_padding {
	width:80%;
	margin:0 auto;
	height:25px;
	padding-top:5px;
}

.nav_2_category {
	padding-bottom:5px;
	clear:both;
	width:120px;
	height:20px;
	cursor:pointer;
	overflow:hidden;
	/*border:1px solid #CE483D;*/
}

.nav_2_sub_category {
	width:150px;
	height:40px;
	line-height:40px;
	padding-left:20px;
	cursor:pointer;
}

.nav_2_sub_category_area {
	position:absolute;
	margin-top:2px;
	/*
	clear:both;
	width:300px;
	height:300px;
	*/
	border:1px solid #d3d3d3;
	background-color:#ffffff;
}

.bold {
	font-weight:bold;
}
/*
.zzim_list {
	position:fixed;
	top:0;
	right:0;
	height:100%;
	width:170px;
	background-color:#d3d3d3;
	clear:both;
}

.toggle_zzim_list_btn {
	height:100%;
	width:20px;
	background-color:#d6d6d6;
	float:left;
	clear:both;
}

.zzim_list_content {
	height:100%;
	margin-left:20px;
	width:140px;
	clear:both;
	background-color:#ffffff;
}
*/
.content {
	width:80%;
	margin:0 auto;
	padding-top:90px;
}

/* 반응형웹을 위한 CSS */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/* 5 column */
.span_5_of_5 {
	width: 100%; 
}

.span_4_of_5 {
	width: 78.5%; 
}

.span_3_of_5 {
	width: 58.5%; 
}

.span_2_of_5 {
	width: 38.5%; 
}

.span_1_of_5 {
	width: 18.5%; 
}

/* 4 column */
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}


/* 3 column */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/* 2 column */
.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/* 3 column */
.span_1_of_1 {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 800px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}
/* //반응형웹을 위한 CSS */