@CHARSET "UTF-8";

.tile {
	clear:both;
	height:420px;
	/*border:1px solid #d3d3d3;*/
}

.mached_cosmetic_area {
	height:380px;
	width:24%;
	background-color:#ffffff;
	margin-top:10px;
	float:left;
	margin-left:10px;
	position:relative;
}

.matched_cosmetic_img_area {
	height:280px;
	width:100%;
	background-color:#ffff;
	overflow: hidden;
}

.matched_cosmetic_brand_area {
	height:30px;
	line-height:30px;
	width:100%;
	padding-left:10px;
	padding-top:10px;
}

.matched_cosmetic_title_area {
	height:30px;
	line-height:30px;
	width:100%;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
}

.matched_cosmetic_price_area {
	height:30px;
	line-height:30px;
	width:100%;
	padding-left:10px;
}

.matched_cosmetic_icon {
	clear:both;
	height:100px;
	width:100px;
	background-color:red;
	position:absolute;
	top:0;
	left:0;
}

.rolling { width:100%;overflow:hidden;position:relative; height:410px;}
.rolling ul { list-style:none; width:400%; margin:0; padding:0; float:left; height: 410px; }
.rolling ul li { background-color:#ffffff; width:19%; float:left; padding:5px; margin:5px; height : 410px; }

