@CHARSET "UTF-8";

body {
	margin:0 auto;
	background:#fff;
}

#container {
	width:100%;
}

.login {
	position:relative;
	margin:20px auto;
	padding:20px 20px 20px;
	width:30%;
}

.logo {
	padding-bottom:40px;
}

.logo_area {
	width:350px;
	margin:0 auto;
	height:150px;
	background-image:url("../../static/img/logo.png");
	background-repeat:no-repeat;
	background-size:350px 150px;
}

.login:before {
	
}

.login h1 {
	line-height:40px;
	font-size:50px;
	font-weight:bold;
	text-align:center;
	color:#262525;
}

.input_row {
	position:relative;
	border:1px solid #dadada;
	padding:10px 35px 10px 15px;
	margin:0 0 10px;
	background:#fff;
	height:29px;
	width:100%;
}

.input_btn_area {
	position:relative;
	padding:10px 35px 10px 15px;
	border:1px solid #DB4A37;
	height:61px;
	-webkit-appearance:none;
	cursor:pointer;	
	width:100%;
	background:#DB4A37;
}

.input_row2 {
	position:relative;
	border:3px solid #ffffff;
	padding:10px 35px 10px 15px;
	margin:0;
	border:1px solid #ffffff;
	background-color:transparent;
	height:70px;
	width:550px;
	border-radius:35px;
	color:#fff;
}

.input_btn_area2 {
	position:relative;
	border:1px solid #DB4A37;
	height:70px;
	cursor:pointer;	
	width:550px;;
	background:#DB4A37;
	border-radius:35px;
	color:#fff;
	text-align:center;
	line-height:70px;
}

.input_btn {
	width:100%;
	height:100%;
	background:#DB4A37;
	border:0;
	color:#fff;
	font:16px;
	padding-left:25px;
}

.copyright {
	text-align:center;
	color:gray;
	position:fixed;
	bottom:10px;
}

.wrap {
	margin-left:-25px;
}