.reviewRapper {
	position: relative;
	background: #fff;
	padding:2%;
}
.triangle {
	width: 0;
	height: 0;
	border-color: #8EB021 #8EB021 transparent transparent;
	border-style: solid;
	border-width: 7px;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}
.content-area {
	margin-top : 5%;
	margin-bottom : 5%;
}
.reviewRapper {
	margin : auto;
}
#title{
	font-size : 21px;
	font-weight : bolder;
}
.zzim_img {
	position: relative;
	width: 45px;
	float: right;
	left: -85px;
	top: -15px;
}
#zzim_txt {
	position: relative;
	font-size: 18px;
	float: right;
}
.zzim {
	display:inline-block;
	cursor : pointer;
}
.review_grade_area {
	margin-top: 20px;
	margin-bottom: 50px;
}
.up_img {
	padding-right: 20px;
}
.isRecomm_area {
	text-align: center;
	cursor : pointer;
}
.point {
	color:#19BDC4;
	font-weight:bold;
}