@CHARSET "UTF-8";

.side_menu {
   width:100%;
   cursor: pointer;
}

.side_menu_d_0_id_area {
   width:100%;
   border: 1px solid;
   border-color:#e9eaed #dfe0e4 #d0d1d5;
   margin-top:30px;
   background-color:#fff;
}

.side_menu_d_1_id_area {
   width:100%;
   padding-top:10px;
   padding-bottom:5px;
}

.side_menu_d_1_id_area span {
   padding-left:15px;
   font-size:15px;
   font-weight:bold;
}

.side_menu_d_2_id {
   padding-top:5px;
   padding-top:5px;
}

.side_menu_d_2_id_area {
   width:100%;
   padding-top:10px;
   padding-bottom:10px;
}

.side_menu_d_2_id_area span {
   padding-left:30px;
   font-size:13px;
   font-weight:normal;
}

.review_container {
   width:100%;
   margin-top:30px;
}

#tiles {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}

#tiles2 {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom : 50px;
}

#tiles2 li:hover img{
   opacity:0.5;
}

#tiles li:hover img{
   opacity:0.5;
}
#tiles li {
    width: 220px;
   background-color: #ffffff;
   border: 1px solid;
   border-color:#e9eaed #dfe0e4 #d0d1d5;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   cursor: pointer;
   border-radius: 0.2em;
}
#tiles2 li {
    width: 220px;
   cursor: pointer;
   padding:8px;
   margin-bottom : 20px;
}
#tiles li img{
   border-top-left-radius:0.2em;
   border-top-right-radius:0.2em;
}
#tiles li img {
    display: block;
}
.review_content_area {
   /*width:100%;*/
   padding-left:5px;
   padding-right:5px;
   font-size:13px;
}

.review_recomm_area {
   /*border-bottom:1px solid #D3D6DB;*/
   margin-left:5px;
   margin-right:5px;
   padding-top:5px;
   padding-bottom:5px;
   float:left;
}

.review_title_area {
   margin-left:5px;
   margin-right:5px;
   padding-top:5px;
   padding-bottom:5px;
   font-weight:bold;
   font-size:14px;
   line-height:20px;
}

.review_img_area {
   
}

.review_img {
   
}

.point {
   color:#19BDC4;
   font-weight:bold;
}

.review_hit_and_writedate_area {
   font-size:12px;
   padding-left:30px;
}

.division {
   color:#E8E5E8;
}

.review_grade_area {
   padding-top:10px;
   padding-left:30px;
   height:30px;
}

.review_like_and_dislike {
   border-top:1px solid #E8E5E8;
   height:40px;
   font-size:12px;
   line-height:40px;
   text-align:center;
}