@CHARSET "UTF-8";

.content-area {
	margin-top : 5%;
	margin-bottom : 5%;
}

#wrapReviewHead {
	border-bottom: 1px solid #666;
}
#reviewHead {
	font-size: 23px;
	font-weight: bolder;
}
#searchedCos {
	margin-left: 210px;
	font-size : 15px;	
}

#detailReviewHead {
	font-size : 15px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 1.0%;
}
.dropdown {
	cursor : pointer;
	margin-bottom : 13px;
	width: 500px;
}
.dropdown-menu {
	width : 500px;
}

#cosFindBtn {
	background-color: #db4a37;
	border-color: #ffffff;
	width: 500px;
}

#cosBtn {
	width: 500px;
}

#cosNameArea {
	position: absolute;
	width: 200px;
	height: 50px;
	top: 50px;
	left: 100px;
	font-weight: bolder;
	font-size: 15px;
}

#cosVolumeArea {
	position: absolute;
	width: 200px;
	top: 80px;
	left: 100px;
	font-size: 12px;
}

#titleLabel {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}

#radioCos {
	position: relative;
	top: 60px;
	left: 10px;
}
.selectBox {
	font-size:15px;
}

.select_subject {
	font-size : 15px;
}

.resBtn {
	font-size : 17px;
	margin-top : 10px;
}